<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BoardMapper">
  	<select id="view" resultType="com.hsh.board.BoardDTO">
  		select * from NOTICE_BOARD where num=#{num}
  	</select>
  
  	<insert id="insert" parameterType="com.hsh.board.BoardDTO">
  		insert into NOTICE_BOARD values(NOTICE_SEQ.nextVal,#{writer},#{title},#{contents},0,sysdate);
  	</insert>
  	
  	<select id="list" resultType="">
  	
  	</select>
  	
  </mapper>